body {
	background-color: black;
}

h1{
	text-align: center;
	color: white;
}

h2{
	text-align: center;
	color: white;
}

a:link{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

a:active{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>

<h2>Navigation Menu</h2>
<p>In this example, we use CSS to style the list horizontally, to create a navigation menu:</p>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

p{
		
}