body {
	background-color: black;
}

h1{
	text-align: center;
	color: white;
}

h2{
	text-align: center;
	color: white;
}

a:link{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

a:active{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

p{
	
}