body {
	background-color: black;
    margin: 0; /* It's good practice to reset default body margins */
    font-family: serif;
	color: white;
	padding: 20px;
}
nav {
    background-color: black;
    color: white;
    padding: 10px 20px;
    overflow: hidden; /* Helps contain floats if you use them for links */
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}
.main-content {
    padding: 20px; /* Adds some space around your main text */
    background-color: #3B3B3B;
	color: #ADADAD;
	text-align: center;
}
.main {
	color: white;
	padding: 20px;
	background color: black;
	font-family: sans-serif;
	line-height: 1.5;
}
h2{
	color: white;
}
.main2 {
	color: #C4C4C4;
	padding: 20px;
	background color: black;
	font-family: sans-serif;
	line-height: 1.5;
	text-indent: 3em;
}
h1{
	text-align: center;
	color: white;
}

h3{
	text-align: center;
	color: white;
}

a:link{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited{
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

a:active{
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: transparent;
}


</style>
</head>
<body>

<h2>Navigation Menu</h2>
<p>In this example, we use CSS to style the list horizontally, to create a navigation menu:</p>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

p{
	background color: black;
	color: white;	
}